<md-sidenav-container [class.app-dark]="isDarkTheme">
  <div class="app-content">
    <md-card>
      <md-list class="app-list">
        <md-list-item *ngFor="let event of events | async">
          <h3 md-line>
            Name: {{event["name"]}}, Start Date: {{event["startdate"]}}
          </h3>

          <p md-line class="demo-secondary-text">Description: {{event["description"]}} Location: {{event["location"]}}</p>
        </md-list-item>
      </md-list>
    </md-card>
  </div>
</md-sidenav-container>



<span class="app-action">
  <button md-fab (click)="addEvent()">
    <md-icon>add</md-icon>
  </button>
</span>
